/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 400px;
}

h1 {
    margin-bottom: 20px;
    color: #333333;
}

input, textarea {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 100%;
    max-width: 350px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

textarea {
    resize: none;
    height: 80px;
}

button {
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    width: 100%;
    max-width: 350px;
}

.card {
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    text-align: center;
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    position: relative;
}

#logoContainer {
    margin-bottom: 10px;
}

#logoContainer img {
    max-width: 80px;
    height: auto;
}

.info {
    margin-bottom: 15px;
}

.info h2 {
    margin: 0;
    font-size: 26px;
    color: #333333;
}

.info p {
    margin: 5px 0;
    font-size: 16px;
    color: #555555;
}

.contact {
    margin-bottom: 15px;
}

.contact p {
    margin: 5px 0;
    font-size: 14px;
    color: #555555;
}

.separator {
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 10px 0;
}

#cardSlogan {
    font-style: italic;
    color: #777777;
}
